# git ignores for ProofPower.
# directories created by the C compiler on Mac OS X.
*.dSYM/
# Suffixes of files generated during the build process. N.b., all .tex files
# are generated.
*.aux
*.bbl
*.blg
*.dvi
*.grm.run
*.grm.txt
*.hrf
*.idx
*.inc
*.ldd
*.lof
*.log
*.lot
*.o
*.pdf
*.polydb
*.ps
*.sid
*.sml
*.tch
*.th
*.th.doc
*.thl.doc
*.thy.doc
*.tex
*.theories
*.toc
*.ttd
# Archives of various kinds
*.tar
*.tgz
*.zip
